@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 80vw;
    height:100vh;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.6em;
}

fieldset {
    padding: 20px 20px 30px 20px;
    margin-top: 30px;
}

p {
    padding-bottom: 12px;
    
}

p#caixa {
  padding-top: 50px;
  text-align: justify;
  text-align: right;
}
