@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 80px 40px 1fr 40px / 1fr 150px;
    gap: 5px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo {
    background-color: rgb(179, 179, 62);
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    background-color: rgb(66, 138, 66);
    grid-area: 2 / 1 / 3 / -1;
}

#principal {
    background-color: rgb(91, 158, 247);
    grid-area: 3 / 1 / -2 / -2;
}

#secundario {
    background-color: rgb(214, 76, 76);
    grid-area: 3 / 2 / -2 / -1;
}

#rodape {
    background-color: rgb(66, 138, 66);
    grid-area: 4 / 1 / -1 / -1;
}