@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.caixa1 {
    background-color: yellow;
    grid-area: 1 / 1 / span 1 / span 4;
}

.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / span 2 / span 2;
}

.caixa3 {
    background-color: blueviolet;
    grid-area: 2 / 3 / span 2 / span 2;
}