@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

#container1 {
    background-color: rgb(87, 87, 87);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

header > h1 {
    color: white;
    flex: 1 0 auto;
}

div.item {
    background-color: black;
    color: white;
    margin: 5px; 
    padding: 10px;
    border-radius: 5px;
    flex: 0 0 auto;
}

#container2 {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.329);
}

p {
    text-indent: 20px;
    text-align: justify;
}

